<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>gls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>gls_ps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>mt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>mt_lr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>mt_lr_perfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>template-all-ones.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42720F6F163823AF008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F4EE5B16AEE80D000123A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4804DF101F4F208800B649C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4804DF1C1F4F2C0300B649C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>481EFFBE1E86F165006786A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48BA62331E89778800FF91C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48BD950E1E855A2800C7B0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48CD1FDF1EA500BA003393BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
